html, body, #page-wrap { height: 100%; margin: 0; padding: 0; }
#page-wrap { background: #363636; background: radial-gradient(ellipse at top, #595959, #363636); overflow: auto; }
h1 { margin: 12px; font: bold 46px "Helvetica Neue", Helvetica, Arial, sans-serif; color: white; }
h1 span { color: #4c99d1; }
form { margin: 0 12px; }
form::after { display: block; content: ""; clear: both; }
fieldset { float: left; width: 310px; box-sizing: border-box; margin: 0 10px 0 0; padding: 15px 15px; border: none; }
fieldset[disabled] { opacity: .25; }
legend { background: white; padding: 3px 7px; border-radius: 7px; font: bold 18px "Helvetica Neue", Helvetica, Arial, sans-serif; }
label, p { display: inline-block; font: italic 18px Georgia, Times, "Times New Roman", serif; margin: 0; }
h3 { font: bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif; }
#attendee_container, #company_name_wrap, #special_accommodations_wrap, #step2_result { transition: max-height 0.5s ease-in-out; overflow-y: hidden; }

#step_1 { background: #b4eccc; }
#step_1 label { display: inline; }
#attendee_container label, #company_name_wrap label { display: inline-block; font-size: 12px; width: 100px; }
#attendee_container div { padding-top: 5px; overflow: auto; }
#attendee_container div:last-child { padding-bottom: 5px; }
#step_2 { background: #b5dfed; }
#company_name_wrap label { padding: 10px 0 15px; }
#special_accommodations_wrap label { display: block; padding: 15px 0 5px; }
textarea { width: 100%; box-sizing: border-box; margin: 0; }
#step_3 { background: #eeccb5; }
#submit_button { margin-top: 15px; }

#step1_result:after, #step2_result:after { content: ''; display: block; height: 110px; background: url('../img/success.png') center 30px no-repeat; }